{% extends "BZUserBundle::layout.html.twig"%}

{% block content_body %}
    <form  class="ui-draggable"  action="{{ path('ajouter_piecenote', {'id': id}) }}" method="post" {{ form_enctype(form) }} >
        <div class="col-lg-6" style="margin-top: -2.7%;margin-left: 12.5%;">
            <div class="panel panel-default">

                <div class="panel-body1">
                    <span style="text-shadow: 0px 0.5px 0.5px black;font-size: 15px;color: black;">
                        AJOUT DE PIECES A LA NOTE  (2/2)
                    </span>
                     <a type="button" class="btn btn-default btn-xm " href="{{ path('read_repertoirenote')}}" id="retour" style="font-size: 11px;float: right;"> <i class="fa  fa-book"> </i> Terminer</a>
                     <hr/>
                    <div>
                        <p>
                            <span>   Note du : </span> <span style="font-weight: bold;"> {{ noteredigee.datepersist|date('d/m/Y') }} - {{ noteredigee.datepersist|date('H:i') }} </span> <span>   -  Catégorie : </span><span style="font-weight: bold;"> {{ noteredigee.categorienote.libelle }}  </span>
                            <br/>
                            <span>   Pièce(s) jointe(s) </span>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="font-size: 11px;">
                                        <th style="text-align: center;">#</th>
                                        <th style="text-align: center;">Nom du fichier</th>
                                        <th style="text-align: center;">Date enregistrement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set nbre = 0 %}
                                {% for element in  noteredigee.piecenotes %}
                                     {% set nbre = nbre+1 %}
                                    <tr  style="font-size: 11px;">
                                        <td style="text-align: center;">    
                                            <a href="{{ path('delete_piecenote', {'id':  element.id }) }}" class="btn btn-default btn-xs " style="font-size: 11px;background: #a81a20;color: white;"><i class="fa  fa-trash-o"> </i> </a>
                                        </td>
                                        <td>{{ element.alt }}</td>
                                        <td  style="text-align: center;">{{ element.dateEnregistrement |date('d/m/Y') }} - {{ element.dateEnregistrement |date('H:i') }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% if nbre==0 %}
                                        <tr>
                                            <td colspan="3" style="font-size: 10px;color: #770000;text-align: center;">Aucun fichier n'est encore joint à la présente note ... !!!</td>
                                            </tr>
                                     {% endif  %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                    {{ form_widget(form) }}
                    <br/>
                    <button type="submit" class="btn btn-default btn-xm " style="font-size: 11px;" ><i class="fa fa-copy"> </i> Ajouter</button>
                        <br/><br/>
                    <span> Partarge de la note </span>
                    
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="font-size: 11px;">
                                        <th style="text-align: center;">#</th>
                                        <th style="text-align: center;">Membre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set nbre = 0 %}
                                {% for element in  noteredigee.partagernotes %}
                                     {% if element.agentdestinataire.user.id != app.user.id  %}
                                     {% set nbre = nbre+1 %}
                                    <tr  style="font-size: 11px;">
                                        <td style="text-align: center;">    
                                            <a href="{{ path('delete_partagernote', {'id':  element.id }) }}" class="btn btn-default btn-xs " style="font-size: 11px;background: #a81a20;color: white;"><i class="fa  fa-trash-o"> </i> </a>
                                        </td>
                                        <td>{{ element.agentdestinataire.nomPrenom }}</td>
                                    </tr>
                                    {% endif  %}
                                    {% endfor %}
                                    {% if nbre==0 %}
                                        <tr>
                                            <td colspan="3" style="font-size: 10px;color: #770000;text-align: center;">Aucun membre n'est associé à la note... !!!</td>
                                            </tr>
                                    {% endif  %}
                                </tbody>
                            </table>
                        </div>
                    <div class="" >
                       <a type="button" class="btn btn-default btn-xm createformulaire" href="{{ path('create_partagernote', {'id': id})}}" id="retour" style="font-size: 11px;"> <i class="fa fa-group"> </i> Partager</a>
                     </div>
                    <br/>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
          <div id='afficheformulaire'>

        </div>
{% endblock content_body %}
{% block javascript %} 
    <script>
        // Notifications();      
        $('.createformulaire').click(function (event) {
            var buton = $(this);
            $('#afficheformulaire').html('');
            $.ajax({
                type: 'GET',
                url: buton.attr('href'),
                cache: false,
                success: function (data) {
                    $('#afficheformulaire').html(data);
                    // $('#frm_createVille').dialog();
                },
                error: function () {
                    alert('requête échouée');
                }});
            //we dont what the browser to submit the form
            event.preventDefault();
        });

    </script>
{% endblock javascript %}