    
{% extends "BZUserBundle::layout.html.twig"%}

{% block content_body %}
    <form  class="ui-draggable"  action="{{ path('archiver_affaire',{'id': id}) }}" method="post"  >
        <div class="col-lg-7" style="margin-top: -2.7%;margin-left: 12.5%;">
            <div class="panel panel-default">
                <div class="panel-body1">
                    <span style="text-shadow: 0px 0.5px 0.5px black;font-size: 15px;color: black;">
                        CONSULTATION DU TRAITEMENT
                    </span>
                    <hr/>
                    <div class="but_list">
                        <p style="font-size: 13px;">
                            <span>  Dossier N° : </span> <span style="font-weight: bold;"> {{ affaire.numeroaffaire }} </span> <br/>
                            <span>  du : </span> <span style="font-weight: bold;"> {{ affaire.dateaffaire|date('d/m/Y') }} </span> <br/>
                            <span>  Client : </span><span style="font-weight: bold;"> {{ affaire.clientphysique.nom }}  </span>
                            <span>  Contact(s) Client : </span><span style="font-weight: bold;"> {{ affaire.clientphysique.telmobile }}  </span><br/>
                            <span>  Qualité : </span><span style="font-weight: bold;"> {{ affaire.qualiteaffaire.libelle }}  </span>
                            <span>  Nature : </span><span style="font-weight: bold;"> {{ affaire.natureaffaire.libelle }}  </span><br/>
                            <span>  Coût de l'affaire : </span><span style="font-weight: bold;"> {{ affaire.coutaffaire }}  Francs CFA</span><br/>
                            <span>  Restant à payer : </span><span style="font-weight: bold;"> {%if affaire.coutrestant is null %} 0 {% else %}{{ affaire.coutrestant }}{% endif %}  Francs CFA</span><br/>
                            <span>  Juridiction : </span><span style="font-weight: bold;"> {{ affaire.juridiction.libelle }}  </span><br/><br/>
                            <span>  Affecter à  : </span><span style="font-weight: bold;"> {{ tacheaffaire.agentdestinataire.nomPrenom }}   </span><br/>
                            <span>  Le : </span><span style="font-weight: bold;"> {{ tacheaffaire.dateassignee|date('d/m/Y') }} </span><br/>
                            <span>  Etat : </span><span style="font-weight: bold;"> {% if  tacheaffaire.estresolue==0 %} En cours de résolution ... {% else %} Résolue et clôturée {% endif %} </span><br/>
                            <br/>
                            <span>   Situation des Audiences </span>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="font-size: 11px;">
                                        <th style="text-align: center;">Date Enregistrée</th>
                                        <th style="text-align: center;">Avocat en charge</th>
                                        <th style="text-align: center;">Motif </th>
                                        <th style="text-align: center;">Date de Renvoi</th>
                                        <th style="text-align: center;">Observations </th>
                                        <th style="text-align: center;">Conclusion </th>
                                        <th style="text-align: center;">PJ </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set nbre = 0 %}
                                    {% for element in  tacheaffaire.tacheaudiences %}
                                        {% set nbre = nbre+1 %}
                                        <tr  style="font-size: 11px;">
                                            <td> {{ element.dateEnregistree |date('d/m/Y') }}  </td>
                                            <td> {{ element.agentdestinataire.nomPrenom }}  </td>
                                            <td  style="text-align: center;">{{ element.motif }}</td>
                                            <td> {{ element.dateparticipee |date('d/m/Y') }}  </td>
                                            <td> {{ element.observation }}  </td>
                                            <td> {{ element.conclusion }}  </td>
                                            <td> 
                                              <div class="dropdown">
                                                <a href="#" title="" class="btn btn-xs btn-default " data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-copy"></i>
                                                    <i class="fa fa-chevron-down icon_8"></i>
                                                    <div class="ripple-wrapper"></div></a>
                                                <ul class="dropdown-menu float-right" style="text-align: left;">
                                                    {% set nbre = 0 %}
                                                    {% for elt in  element.pieceaudiences %}
                                                         {% set nbre = nbre+1 %}
                                                         <li>
                                                             <a href="{{ asset( elt.dowloadPath) }}" title="" target="_blank">
                                                            {{ elt.alt }}
                                                        </a>
                                                    </li>
                                                   {% endfor %}
                                                    {% if nbre==0 %}
                                                        <li>
                                                        <a href="#" title="" style="color: #770000;">
                                                            Aucun fichier n'est encore joint à cette audience ... !!! 
                                                        </a>
                                                        </li>
                                                        {% endif  %}
                                                   </ul>
                                            </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% if nbre==0 %}
                                        <tr>
                                            <td colspan="6" style="font-size: 10px;color: #770000;text-align: center;">Aucune audience n'est encore statuée pour cette affaire ... !!!</td>
                                        </tr>
                                    {% endif  %}
                                </tbody>
                            </table>
                        </div>
                    </p>                    
                    </div>
                </div>
                <div class="panel-footer">
                    <a type="button" class="btn btn-default btn-xm " href="{{ path('read_affairetraitement')}}" id="retour" style="font-size: 11px;"><i class="fa fa-arrow-left"> </i> Retour</a>
                    <button type="submit" class="btn btn-default btn-xm " style="background: rgb(70, 136, 71);color: white;font-size: 11px;" ><i class="fa fa-download"> </i> Archiver</button>
                    <span class='tachat_img hide'><img src="{{ asset('/images/712.GIF') }}" alt="Second slide" class='img-circle' style="height: 20px;width: 20px;"> Archivation en cours ...</span>
                </div>
            </div>
        </div>
    </form>
{% endblock content_body %}
