{% extends "BZUserBundle::layout.html.twig"%}

{% block content_body %}
    <form  class="ui-draggable"  action="{{ path('create_affaire') }}" method="post" {{ form_enctype(formaffaire) }} >
        <div class="col-lg-6" style="margin-top: -2.7%;margin-left: 12.5%;">
            <div class="panel panel-default">

                <div class="panel-body1">
                    <span style="text-shadow: 0px 0.5px 0.5px black;font-size: 15px;color: black;">
                        ENREGISTREMENT D'UN DOSSIER  (1/2)
                    </span>

                    <hr/>
                   
                    <div class="but_list">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false" style="font-size: 12.5px;">Identité du dossier</a></li>
                    <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true" style="font-size: 12.5px;"> Inormations des Parties </a></li>
                    <li role="presentation" class=""><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1" aria-expanded="true" style="font-size: 12.5px;">Règlement au comptant</a></li>
                 
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade  active in" id="home" aria-labelledby="home-tab">
                        <p>
                             {{ form_widget(formaffaire) }}
                        </p>
                        <div>
                            <label> Total des Frais du dossier </label>
                            <input type="number" id="montantaffaire" disabled="true" class="form-control">  
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                        <br/>
                        <span style="font-size: 12.5px;font-weight: bold;">Inormations du client</span>
                        <hr/>
                        <p>
                            {{ form_widget(formclient) }}
                        </p>
                            <br/>
                            <span>  ------------------------------------------------------------------------------------------------------------- </span>
                        <span style="font-size: 12.5px;font-weight: bold;">Inormations de la partie adverse </span>
                        <hr/>
                        <p>
                            {{ form_widget(formadverse) }}
                        </p>
                       
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
                        <p>
                            {{ form_widget(formreglement) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
                    
                </div>
                <div class="panel-footer">
                    <a type="button" class="btn btn-default btn-xm " href="{{ path('page_accueil')}}" id="retour" style="font-size: 11px;"><i class="fa fa-arrow-left"> </i> Retour</a>
                    <button type="submit" class="btn btn-default btn-xm " style="background: rgb(70, 136, 71);color: white;font-size: 11px;" ><i class="fa fa-save"> </i> Enregistrer</button>
                    <span class='tachat_img hide'><img src="{{ asset('/images/712.GIF') }}" alt="Second slide" class='img-circle' style="height: 20px;width: 20px;"> Enregistrement ...</span>
                </div>
            </div>
        </div>
        {{ form_rest(formaffaire) }}
        {{ form_rest(formadverse) }}
        {{ form_rest(formclient) }}
        {{ form_rest(formreglement) }}
        
    </form>
{% endblock content_body %}
    {% block javascript %} 
        <script>
       $('form input.date').datepicker();
   $('#bz_modelbundle_affaire_coutouverture').val(0);
   $('#bz_modelbundle_affaire_coutprocedure').val(0);
   $('#bz_modelbundle_affaire_couthonoraire').val(0);
    //var coutouverture = $('#bz_modelbundle_affaire_coutouverture').val();
   // var coutprocedure = $('#bz_modelbundle_affaire_coutprocedure').val();
    //var couthonoraire = $('#bz_modelbundle_affaire_couthonoraire').val();
    
    $('#bz_modelbundle_affaire_coutouverture').keypress(function() {
             $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
     });
    $('#bz_modelbundle_affaire_coutouverture').keydown(function() {
       $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
   });
    $('#bz_modelbundle_affaire_coutouverture').keyup(function() {
      $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
  });
     //----------------------------
    $('#bz_modelbundle_affaire_coutprocedure').keypress(function() {
     $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
 });
    $('#bz_modelbundle_affaire_coutprocedure').keydown(function() {
     $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
 });
    $('#bz_modelbundle_affaire_coutprocedure').keyup(function() {
      $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
  });
  //-------------------------
    $('#bz_modelbundle_affaire_couthonoraire').keypress(function() {
     $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
 });
    $('#bz_modelbundle_affaire_couthonoraire').keydown(function() {
     $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
 });
    $('#bz_modelbundle_affaire_couthonoraire').keyup(function() {
      $('#montantaffaire').val(parseInt($('#bz_modelbundle_affaire_coutouverture').val())+parseInt($('#bz_modelbundle_affaire_coutprocedure').val())+parseInt($('#bz_modelbundle_affaire_couthonoraire').val()));
  });
   
</script>
    {% endblock javascript %}

