{% extends "BZUserBundle::layout.html.twig"%}

{% block content_body %}
    <div class="col-md-9" style="margin-top: -2.7%;">
        <div class="panel panel-default">
            <div class="panel-body1 ">
                <div ><span style="font-size: 14px;text-shadow: 0px 0.5px 0.5px black;"> NOUVEAUX AFFAIRES ENREGISTREES </span> 
                        <a href="#" class="btn btn-xm btn-default createformulaire"  style="float: right;margin-right: 1%;font-size: 11px;"> <i class="fa fa-print"> </i><span> Imprimer </span></a>
                </div>
                <hr/>
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_desc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="descending" style="font-size: 13px;text-align: center;">
                                        Actions 
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Exercice
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        N° Affaire
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Date dossier
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Client
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Partie Adverse
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Pièce(s) Jointe(s)
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="font-size: 13px;text-align: center;">
                                        Avocats advsersaires
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set nbre = 0 %}
                                {% for element in  affaires %}
                                    <tr class="gradeA {% if nbre%2==0 %} odd {% else %} even{% endif%}">
                                        {% set nbre = nbre+1 %}
                                        <td class="sorting_1" style="text-align: center;">
                                            <a href="{{ path('update_affaire', {'id':  element.id }) }}" class="btn btn-default btn-xs" style="font-size: 11px;background: #FFD34F;"><i class="fa fa-edit"  title="modifier"> </i> </a>
                                            <a href="{{ path('delete_affaire', {'id':  element.id }) }}" class="btn btn-default btn-xs createformulaire" data-toggle="modal" data-target="#myModal" style="font-size: 11px;background: #a81a20;color: white;"><i class="fa  fa-trash-o"  title="supprimer"> </i> </a>
                                            <a href="{{ path('consulter_affaire', {'id':  element.id }) }}" class="btn btn-default btn-xs createformulaire" data-toggle="modal" data-target="#myModal" style="font-size: 11px;"><i class="fa  fa-align-center"  title="Consulter en détails"> </i> </a>
                                            <a href="{{ path('affecter_affaire', {'id':  element.id }) }}" class="btn btn-default btn-xs createformulaire" data-toggle="modal" data-target="#myModal" style="background: rgb(70, 136, 71);color: white;font-size: 11px;"><i class="fa  fa-user-md"  title="Assigner à des avocats"> </i> </a>
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;"> 
                                            {{ element.exercice.annee }}  
                                           </td>
                                        <td class="" style="font-size: 12px;text-align: center;"> 
                                            {{ element.numeroaffaire }}  
                                           </td>
                                        <td class="" style="font-size: 12px;text-align: center;"> 
                                            {{ element.dateaffaire|date('d/m/Y') }} 
                                           </td>
                                        <td class="" style="font-size: 12px;text-align: center;"> 
                                            {{ element.clientphysique.nom }}  
                                           </td>
                                        <td class="" style="font-size: 12px;text-align: center;"> 
                                            {{ element.adversairephysique.nom }}  
                                           </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                            <div class="dropdown">
                                                <a href="#" title="" class="btn btn-xs btn-default " data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-copy"></i>
                                                    <i class="fa fa-chevron-down icon_8"></i>
                                                    <div class="ripple-wrapper"></div></a>
                                                <ul class="dropdown-menu float-right" style="text-align: left;">
                                                    {% set nbre = 0 %}
                                                    {% for elt in  element.pieceaffaires %}
                                                         {% set nbre = nbre+1 %}
                                                         <li>
                                                             <a href="{{ asset( elt.dowloadPath) }}" title="" target="_blank">
                                                            {{ elt.alt }}
                                                        </a>
                                                    </li>
                                                   {% endfor %}
                                                    {% if nbre==0 %}
                                                        <li>
                                                        <a href="#" title="" style="color: #770000;">
                                                            Aucun fichier n'est encore joint à la présente affaire ... !!! 
                                                        </a>
                                                        </li>
                                                        {% endif  %}
                                                   </ul>
                                            </div>
                                        </td>
                                        <td class="" style="font-size: 12px;text-align: center;">
                                            <div class="dropdown">
                                                <a href="#" title="" class="btn btn-xs btn-default " data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-group"></i>
                                                    <i class="fa fa-chevron-down icon_8"></i>
                                                    <div class="ripple-wrapper"></div></a>
                                                <ul class="dropdown-menu float-right" style="text-align: left;">
                                                    {% set nbre = 0 %}
                                                    {% for elt in  element.avocatadverses %}
                                                         {% set nbre = nbre+1 %}
                                                         <li style="font-size: 13px;">
                                                           <a href="#" title="" target="_blank">
                                                             {{ elt.nomPrenom }}
                                                            </a>
                                                         </li>
                                                   {% endfor %}
                                                    {% if nbre==0 %}
                                                        <li>
                                                        <a href="#" title="" style="color: #770000;">
                                                            Aucun avocat de la partie adverse n'est associé à cette affaire ... !!! 
                                                        </a>
                                                        </li>
                                                        {% endif  %}
                                                  </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div id='afficheformulaire'>

        </div>

    </div>

{% endblock content_body %}
{% block javascript %} 
    <script>
        // Notifications();      
        $('.createformulaire').click(function (event) {
            var buton = $(this);
            $('#afficheformulaire').html('');
            $.ajax({
                type: 'GET',
                url: buton.attr('href'),
                cache: false,
                success: function (data) {
                    $('#afficheformulaire').html(data);
                    // $('#frm_createVille').dialog();
                },
                error: function () {
                    alert('requête échouée');
                }});
            //we dont what the browser to submit the form
            event.preventDefault();
        });

    </script>
{% endblock javascript %}
